<%- include('header')%>

<form method='get' action='/cotacao'>
  <input name='cotacao' placeholder="Cotação do dia"></br>
  <input name='quantidade' placeholder="Quantidade de dolares"></br>
  <button>Converter!</button>
</form>

<%- include('footer')%>